body{
    align-items: center;
    text-align: center;
    background-color: rgb(151, 199, 240);
}
section{
    margin: 5px;
    padding: 5px;
    border-color: black solid 1px;

}
input{
    border-radius: 21px;
    height: 34px;
    width: 219px;
}
button{
    border-radius: 21px;
    height: 38px;
    width: 90px;
}